<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Phonetonic
    </ion-title>

    <ion-buttons slot="end">
      <input id="picker" type="color">

      <ion-button (click)="undoAction()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="clearCanvasTool()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <canvas id="canvas"></canvas>
  </div>
</ion-content>
