<ion-header>
  <ion-toolbar>
    <ion-title>lobby</ion-title>

    <ion-buttons slot="end">
      <div id="leader-controls" style="visibility: hidden">
        <ion-button>
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="play-button" style="visibility: hidden;">
    <ion-fab-button (click)="startGame()">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="users">
    
  </div>
</ion-content>
